.btn {
  border: 1px solid #003057;
  height: 5.46vh;
  font-family: "Montserrat", sans-serif;
  color: #003057;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: #ffffff;
  padding: 1.48vh 1vw;
  margin-bottom: 2vw;
}

.btn:hover {
  background-color: #003057;
  color: white;
  cursor: pointer;
}

.icons {
  font-size: 1.25rem;
}

.btnCart {
  background-color: black;
  width: 5.83vw;
  height: 4.72vh;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  padding: 1.5vh 1.5vh;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

@media only screen and (max-width: 870px) {
  .btn,
  .btnCart {
    font-size: 0.8rem;
  }
}
